.content{
  display: inline-block;
  color:rgb(12, 141, 197);
  display: block;
  padding-left: 0;
  padding-right: 0;
  font-size: 65px;


  color: #ffffff;
  text-shadow: 0 0 10px #ffffff, 0 0 20px #ffffff, 0 0 30px #ffffff;
  animation: glow 1s ease-in-out infinite alternate;

}

h1{
  text-align: center;
  font-size: 70px;
}
h2{
  text-align: center;
  color:rgb(255, 255, 255);
}
.firstCounter{
  display: inline-block;
  align-items: center;
  margin-left: 20px;
  margin-right: 100px;
  
}
.secondCounter{
  display: inline-block;
  align-items: center;
}

@keyframes glow {
  from {
      text-shadow: 0 0 10px #6a9fb9, 0 0 20px #66bec6, 0 0 30px #6ac4e3;
  }
  to {
      text-shadow: 0 0 20px #396d75, 0 0 40px #6b98ad, 0 0 60px #5f839b;
  }
}